.dropdown .content-parent{
    transition: 0.2s;
    visibility: hidden;
    width: inherit;
    border: solid thin;
    overflow: hidden;
    position: absolute;
    background-color: #fff;
    top: 90px;
    right: -438px;
    /* border: solid red; */
    width: 182.5vh;
    height: 64.9vh;
    z-index: 2 !important;
    padding: 10px 15px;
    box-shadow: 0 0 10px 0 #000;
}
/*  */
/*  */
#parent{
    background-color: transparent;
    margin-bottom: 18px;
    display: flex ;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
}
#center{
    background-color: green;
    position: absolute;
    bottom: -25px;
    right: 225px;
    /* margin-top: 40px; */
}
#flex{
    display: flex;
    justify-content: space-between;
    /* border: solid red; */
}
/*  */
/*  */
/* #medi{background: red !important;} */
.content-parent{height: auto !important;}
.none{
    display: none !important;
    }
    .block{
        display: block !important;
    }
    #B{display: none !important;}
/*  */
#minus{display: none;}
/* .add{display: block;} */
.dropdown:hover .content-parent{
    visibility: visible;
}
h5{
    list-style: none;
    overflow: hidden;
    font-size: medium;
    font-weight: 600;
    text-align: right;
    /* border: solid red; */
    padding-bottom: 5px;
} 
 h5:after{
    background-image: url(WhatsAppImage2023-02-21at14.webp);
    background-size: contain;
    background-repeat: no-repeat;
    content: '';
    translate: 2px 8px;
    width: 25px;
    height: 25px;
    display: inline-block;
}
.box-right ul li{display: flex; flex-direction: ; flex-wrap: wrap;}
.box-right  h5:after{
background-image: url('WhatsAppImage2023-02-21at14\ \(2\).webp');
}
ul li a:hover{
    /* border: solid red; */
    color: green !important;
}
.box-right ul li a,.box-left ul li a{border: rebeccapurple ;width: 100%;}
.navbar-nav{
    border:  blue;
    position: relative;
}
.box-right div{
    /* border-left: thin solid; */
    /* border: solid red; */
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    gap: 33px;
}
.box-right ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: end;
    list-style: none;
    gap: 5px;
}
.box-right .Two li {width: 270px;}
.box-left{    padding-right: 10px;margin-left: 5px;}
.box-right h5 {
    margin-right: 20px;
}
#green{
    background-color: green;
    color: #fff;
    border-radius: 10px;
    padding: 20px 13px;
}
#green:hover{
    background-color: #fff;
    border: solid green thin;
    color: green;
}
#bold{
    font-weight: bold;
}
main{
    background-color: rgb(44, 125, 44);
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    /* position: relative; */
}
/* main > div{position: absolute;z-index: -1;} */
main h2,main h4{
    color: #fff;
}
.box-left div ul{
    /* border:solid red; */
    list-style: none;
    /* width: 50%; */
    /* gap: 5px; */
    /* margin: 5px; */
}
.box-left > div{
    text-align: end;
    display: flex;
    /* justify-content: space-betwee; */
    gap: 10px;
}
.box-left ul li{
    /* border: solid blue; */
    margin-top: 2px;
}
#content-Line-Four, #content-Line-Three ,#content-Line-One,#content-Line-Two{
    /* border: solid red; */
    height: 51vh;
    /* padding-left: 8px; */
    overflow: hidden;
    /* padding: 0px -15px; */
    background-color: #eee;
    border-radius: 10px;
    display: flex;
    text-align: right;
    box-shadow: 0 0 10px 0 #000;
}
#col{background-color: #eee;}
#white{
    /* border: solid #0000ff; */
    background-color: #FFF;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#white img{
    width: 92%;
}
#white i{
    border: thin solid;
    border-radius: 2px;
    position: relative;
}
#col h6{
    opacity: 0.6;
    font-size: small;
}
#col h6 + p{
    font-size: medium;
}
#col > #icon.div p::after{
    content: '';
    background-image: url(accept.webp);
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    translate: 0 5px;
    display: inline-block;
}
#col div img{
    width : 25px;
    height : 25px;
    display: inline-block;
    margin-bottom: 5px;
}
.flexx{
    display: flex;
    gap: 15px;
    justify-content: end;
}
#col-1,#col-2,#col-3,#col-4,#col-5,#col-6,#col-7{ 
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 8px;
    background-color: #eee;
    /* padding: 5px; */
}
p{cursor: pointer;}
#col-5{align-self: flex-end;}
#col-1 div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: auto;
    
}
#col{margin-left: 3px;}
#col-1 div a{
    text-align: center;
    background-color: green;
    border-radius: 10px;
    padding: 10px 25px;
    color:#FFF;
    display: inline-block;
}
#col-1 div a:hover{
    border: solid thin green;
    color:  green;
    background-color: #fff;
}
.card{
    padding: 5px;
    overflow: hidden;
}
.card img {transition: 0.6s;}
.card img:hover{
    transform: scale(1.1);
}
.card img{border: none;}
#content-green{
    background-color: rgb(38, 154, 38);
    height: 40vh;
    color: #FFF;
    padding: 15px;
    border-radius: 10px;
}
#content-green div {
    display: flex;
    align-items: center;
    gap: 10px;
}
#content-green div h6{line-height: 25px;}
#content-green div h6 > a{
    display: inline-block;
    text-decoration: none;
    color:#FFF;
}
.more a,.more i{color: green; text-decoration: none;}
#content-green div h6 > a:hover{
    color:blue

}
.card > img + div.card-body a{
    text-decoration: none;
    text-align: center;
    background-color: green;
    border-radius: 10px;
    color:#FFF;
    padding: 15px;
}
footer{
    background-color: #eee;
    border:  red;
    text-align: right;
    padding: 38px 5px;
}
footer .col-3{height: 195px;}
footer #title{color:#000; font-weight: bold;}
footer a{display: inline-block;line-height: 30px;}
#End a:hover{color:rgb(0, 85, 255)}